* {
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    background-color: rgb(238, 236, 167);
}

button {
    width: 60px;
    height: 40px;
    border-radius: 6px;
}

calculator-body {
    display: flex;
    border: 3px solid #717797;
    flex-flow: column;
    padding: 10px;
    height: 350px;
    width: 375px;
    background-color: rgb(182, 189, 226);
    border-radius: 5px;
}
screen {
    display: flex;
    flex-flow: column;
    justify-self: center;
    height: 60px;
    width: auto;
    margin: 10px;
    margin-bottom: 1px;
    flex: 1 2 auto;
    align-items: space-between;
    text-align: right;
    background-color: rgba(188, 252, 236, 0.932);
    border: 3px solid rgba(124, 155, 147, 0.932);
    font-size: 50px;
    border-radius: 5px;
    padding-right: 3px;
}

clear-buttons {
    display: flex;
    padding: 0px;
    width: auto;
    justify-content: space-between;
    gap: 2px 5px;
}

clear-buttons>button{
    flex: 1 1 auto;
    margin: 10px;
}
running-display {
    justify-self: center;
    height: 20px;
    width: auto;
    flex: 1 1 auto;
}
display {
    height: 50px;
    justify-self:flex-end;
}

math-buttons {
    flex: 1 1 auto;
    width: auto;
    display: flex;
    gap: 10px;
    flex-flow: column;
    justify-content: center;
    /*align-items: center;*/
    box-shadow: 0px;
    margin: 10px;
    margin-top: 0px;
}
button.operator {
    background-color: rgb(210, 184, 252);
}
button.delete {
    background-color: rgb(140, 205, 248);
}
button.clear {
    background-color: rgb(255, 92, 80);
}
row {
    display: flex;
    flex: 1 1 auto;
    align-items: space-evenly;
    gap: 10px;
}

row > button {
    flex: 1 1 auto;
}


